SERVER_NAME=your.domain.com
PORT=443
VPS="ip_1 ip_2 ip_3"
SUB_URL=sub
INBOUND_IDS="5 3 1"
LOGIN="login_1 login_2 login_3"
PASSWORD="password_1 password_2 password_3"
PANEL_PORTS="2043 2043 2043"
WEB_PATHS="web_path_1 web_path_2 web_path_3"
SUB_PORTS="1234 1234 1234"
